<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".debug.ApiBaseUrlOverrideReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="app.tinks.tink.debug.SET_API_BASE_URL" />
                <action android:name="app.tinks.tink.debug.CLEAR_API_BASE_URL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
